<header> 
    <h1 class="text-center" >Lista de Usuarios</h1>
</header>
<div class="col text-center">
    
<button (click)= "getDataApi()" type="button" class="btn btn-success">Get Usuarios</button>

</div>

<br>

<div>
    
<ul *ngFor="let user of usuarios">

    <li class="list-group-item list-group-item-success">{{ user.id }}</li>
    <li class="list-group-item list-group-item-success">{{user.name}}</li>
    <li class="list-group-item list-group-item-success">{{user.username}}</li>
    <li class="list-group-item list-group-item-success">{{user.email}}</li>
  
</ul>
</div>